#todo-error{
  color: red;
  font-size: 2em;
}

.bg-image {
  background-size: cover; 
  background-size: contain; 
  background-image: image(id="bg-image"); 
  background-repeat: no-repeat; 
}
.weather {
  text-align: right; 
  z-index: 10000;
  background-position-y: 500;

}

.quote {
  text-align: center;
  vertical-align: text-bottom;

}

.todos {
  text-align: left;
}