#todo-error{
  color: red;
  font-size: 2em;
}

.bg-image {
  background-size: cover; 
  background-size: contain; 
  background-image: image(id="bg-image"); 
}
.weather {
  background-color: rgb(228, 86, 86); 
  color: black;
  text-align: right; 
  z-index: 10000;
  background-position-y: 500;

}

.quote {
  text-align: center;

}

.todos {
  text-align: left;
}